{# src/CitrespBundle/Resources/views/Back/admin.html.twig #}

{% extends '@Citresp/Back/adminTemplate.html.twig' %}

{% block body %}
  <div class="container container-admin bg-light-admin">

    {% for msg in app.session.flashBag.get('SuccessRemoveUser') %}
      <div class="flashBag">
        <p class="alert alert-success" role="alert">{{ msg }}</p>
      </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('ErrorRemoveUser') %}
      <div class="flashBag">
        <p class="alert alert-danger" role="alert">{{ msg }}</p>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg-3">
        {% embed "@Citresp/Back/adminInfosBolck.html.twig" %}{% endembed %}
      </div>
      <div class="col-lg-9">
        <div class="">
          <div class="row">
            {% for reporting in reportingsList %}
                <div class="col-lg-6">
                  <div class="admin-reporting-block">
                    <!-- Bandeau btn modérer -->
                    <div class="admin-reporting-block-title block-reporting-status">
                      {% if reporting.moderate == false %}
                        <a href="{{ path('security_admin', {'slug': app.user.city.slug, 'page': 1}) }}?action=reportingModerate&reportingId={{ reporting.id }}" class="btn btn-warning btn-sm">Modérer
                        </a>
                      {% else %}
                        <a href="{{ path('security_admin_show_moderate', {'slug': app.user.city.slug, 'page': 1}) }}?action=reportingModerate&reportingId={{ reporting.id }}" class="btn btn-info btn-sm">Publier
                        </a>
                      {% endif %}
                      {% if reporting.reportedCount %}
                        <p>
                          Publication signalée
                          <span class="badge badge-danger">{{ reporting.reportedCount }}</span>
                          fois
                        </p>
                      {% endif %}
                    </div>
                    <!-- Content -->
                    {% embed "@Citresp/Back/adminReoprtingContentBlock.html.twig" %}{% endembed %}

                  </div><!-- /admin-reporting-block -->
                </div><!-- /col-md-6 -->

            {% else %}
              <h4>Aucun signalement pour l'instant</h4>
            {% endfor %}

          </div>

        </div>
      </div>

    </div>
    {% embed "@Citresp/pagination.html.twig" %}{% endembed %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  {% embed "@Citresp/googleMap-viewCity.html.twig" %}{% endembed %}
{% endblock %}
