{# src/CitrespBundle/Resources/views/Back/admin.html.twig #}

{% extends '@Citresp/Back/adminTemplate.html.twig' %}

{% block body %}
  <div class="container container-admin bg-light-admin">
    <div class="row">
      <div class="col-lg-3">
        {% embed "@Citresp/Back/adminInfosBolck.html.twig" %}{% endembed %}
      </div>

      <div class="col-lg-9">
        <div class="">
          <div class="row">
            {% for reporting in reportingsList %}
                <div class="col-lg-6">
                  <div class="admin-reporting-block">
                    <!-- Bandeau btn modérer -->
                    <div class="admin-reporting-block-title block-reporting-status">
                      {% if reporting.moderate == false %}
                        <a href="{{ path('security_admin', {'slug': app.user.city.slug}) }}?action=reportingModerate&reportingId={{ reporting.id }}" class="btn btn-warning btn-sm">Modérer
                        </a>
                      {% else %}
                        <a href="{{ path('security_admin_show_moderate', {'slug': app.user.city.slug}) }}?action=reportingModerate&reportingId={{ reporting.id }}" class="btn btn-info btn-sm">Publier
                        </a>
                      {% endif %}
                      {% if reporting.reportedCount %}
                        <p>
                          Publication signalée
                          <span class="badge badge-danger">{{ reporting.reportedCount }}</span>
                          fois
                        </p>
                      {% endif %}
                    </div>
                    <!-- Content -->
                    <div class="admin-content-block">
                      <div class="img-reporting-city">
                        {% if reporting.image %}
                          <img class="img-responsive center-block" src="{{ asset(reporting.image.webPath) }}" alt="{{ reporting.image.alt }}">
                        {% else %}
                          <img class="" src="{{ asset('theme/img/report-citresp.jpg') }}" alt="Picto CITRSP">
                        {% endif %}
                      </div>

                      <div class="infos-reporting-city">
                        <div class="reporting-status reporting-status-admin">
                          <div
                            class="reporting-status-label
                          {% if reporting.status.id == 1 %}
                            bg-danger
                          {% elseif reporting.status.id == 2 %}
                            bg-warning
                          {% elseif reporting.status.id == 3 %}
                            bg-info
                          {% elseif reporting.status.id == 4 %}
                            bg-success
                          {% endif %}
                        "></div>
                          <p>{{reporting.status.name}}</p>
                          <a href="
                            {{ path('security_admin_edit_reporting_status',
                            {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}"
                            class="btn btn-sm btn-info ">Modifier</a>
                        </div>
                        <p>
                          <strong>{{ reporting.address }}</strong>
                        </p>
                        <p>{{ reporting.category.name }}</p>
                        <p class="text-muted author-reporting-city">
                          <strong>{{ reporting.user }}</strong>
                          le
                          {{ reporting.dateCreated|localizeddate('short', 'none', null) }}
                        </p>
                      </div>
                    </div><!-- /admin-content-block -->
                    <div class="admin-description-block">
                      <p>
                        {{ reporting.description }}
                        <br/>
                        <a class="" href="{{ path('show_reporting', {
                        'slug': app.user.city.slug,
                        'reporting_id': reporting.id}
                        ) }}">
                          Voir le signalement
                        </a>
                      </p>
                    </div>

                  </div><!-- /admin-reporting-block -->
                </div><!-- /col-md-6 -->

            {% else %}
              <h4>Aucun signalement pour l'instant</h4>
            {% endfor %}

          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  {% embed "@Citresp/googleMap-viewCity.html.twig" %}{% endembed %}
{% endblock %}
