{# src/CitrespBundle/Resources/views/Back/admin.html.twig #}

{% extends '@Citresp/Back/adminTemplate.html.twig' %}

{% block header %}
  {% embed "@Citresp/cityMapHeader.html.twig" %}{% endembed %}

{% endblock %}

{% block body %}
  <div class="container container-admin bg-light-admin">
    <h1 class=" text-center ">Admin Edit Status</h1>
    <div class="row">
      <div class="col-lg-3">

      </div>

      <div class="col-lg-9">
        <div class="">

          <div class="row">



          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="container text-center container-showReporting bg-light">
    <section>
      <!-- *************************** REPORTING *************************** -->
      <div class="showReporting-block">
        <div class="row">
          <div class="col-md-6">
            <div class="img-showReporting-city">
              {% if reporting.image %}
                <img class="img-responsive center-block" src="{{ asset(reporting.image.webPath) }}" alt="{{ reporting.image.alt }}">
              {% else %}
                <img class="" src="{{ asset('theme/img/report-citresp-show.jpg') }}" alt="Picto CITRESP">
              {% endif %}

            </div>
          </div>

          <div class="col-md-6 infos-reporting-city infos-showReporting">
            <h5>{{ reporting.address }}</h5>
            <p>
              <strong>{{ reporting.category.name }}</strong>
            </p>
            <p class="text-muted author-reporting-city">
              <strong>{{ reporting.user }}</strong>
              le
              {{ reporting.dateCreated|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}
            </p>

            <hr>

            <div class="block-reporting-status">
              <div class="reporting-status">
                <div class="reporting-status-label
                  {% if reporting.status.id == 1 %}
                    bg-danger
                  {% elseif reporting.status.id == 2 %}
                    bg-warning
                  {% elseif reporting.status.id == 3 %}
                    bg-info
                  {% elseif reporting.status.id == 4 %}
                    bg-success
                  {% endif %}
                "></div>
                <p>{{reporting.status.name}}</p>
              </div>

              {% embed "@Citresp/FormViews/StatusReportingForm.html.twig" %}{% endembed %}

              <!-- <a href="{{ path('show_reporting', {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}?action=reportingReport" class="btn btn-outline-secondary btn-sm btn-report-publication">Signaler la publication
                {% if reporting.reportedCount %}
                  <span class="badge badge-danger">{{ reporting.reportedCount }}</span>
                {% endif %}
              </a> -->
            </div>
            <hr>
          </div>
          <!-- </div> /infos-showReporting -->
        </div>
        <!-- /row 1 -->

        <div class="row">
          <div class="col">
            <p>{{ reporting.description }}</p>
          </div>
        </div>

        <!-- /row 2 -->
      </div>
      <!-- showReporting-block -->

    </section>
  </div>



{% endblock %}
{% block javascripts %}
{{ parent() }}
  {% embed "@Citresp/googleMap-viewOneReporting.html.twig" %}{% endembed %}
{% endblock %}
