{# src/CitrespBundle/Resources/views/Front/city.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <style>

    #map {
      min-height: 26.25rem;

    }
  </style>
{% endblock %}

{% block header %}
  <div id="map"></div>
{% endblock %}

{% block body %}
  <!-- Titre ville -->
  {% embed "@Citresp/cityTitle.html.twig" %}{% endembed %}


  <!-- Liste des signalements -->
  <div class="container text-center">
    {% for reporting in reportings %}
      <h2>Liste des signalements</h2>
      <hr>
      <h4>{{ reporting.address }}</h4>
      <p class="text-muted">
        <strong>{{ reporting.user }}</strong>
        le
        {{ reporting.dateCreated|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}
      </p>
      <h5>{{ reporting.title }}</h5>
      <p>{{reporting.id}}</p>
      <p>
        <a class="" href="{{ path('show_reporting',
        {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}">
          Voir
        </a>
      </p>
    {% else %}
      <h4>Aucun signalement pour l'instant</h4>
    {% endfor %}

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var map;
    function initMap() {
      var city = {
        lat: {{ cityLat }},
        lng: {{ cityLng }}
      };
      var jsMarkers = new Array();

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: city
      });

      {% for marker in markers %}

        var marker = new google.maps.Marker({
          position: {
            lat: {{ marker.markerLat }},
            lng: {{ marker.markerLng }}
          },
          map: map
        });
      {% endfor %}

    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&callback=initMap" async="async" defer="defer"></script>
{% endblock %}
