{# src/CitrespBundle/Resources/views/Front/city.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    #map {
      min-height: 26.25rem;
    }
  </style>
{% endblock %}

{% block header %}
  {% embed "@Citresp/cityMapHeader.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <div class="text-center bg-light">
    <div class="container reporting-btn bg-primary">
      <a href="{{ path('create_reporting', {'slug': app.user.city.slug}) }}" class="btn btn-lg btn-warning ">Faire un signalement</a>
    </div>
    <section>
      {% for msg in app.session.flashBag.get('errorSelectedBaseCities') %}
        <div class="flashBag">
          <p class="alert alert-danger" role="alert">{{ msg }}</p>
        </div>
      {% endfor %}

      <!-- Liste des signalements -->
      <div class="container reportings-container">
        <div class="">
          <h2>Liste des signalements</h2>
          {% for reporting in reportings %}
            <div class="reporting-block">
              <div class="img-reporting-city">
                {% if reporting.image %}
                  <img class="img-responsive center-block" src="{{ asset(reporting.image.webPath) }}" alt="{{ reporting.image.alt }}">
                  {% else %}
                    <img class="" src="{{ asset('theme/img/report-citresp.jpg') }}" alt="Picto CITRSP">
                {% endif %}

              </div>

              <div class="infos-reporting-city">
                <p>
                  <strong>{{ reporting.address }}</strong>
                </p>
                <p>{{ reporting.category.name }}</p>
                <p class="text-muted author-reporting-city">
                  <strong>{{ reporting.user }}</strong>
                  le
                  {{ reporting.dateCreated|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}
                </p>

                <p>
                  <a class="" href="{{ path('show_reporting',
            {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}">
                    Voir plus
                  </a>
                </p>
              </div>

            </div>

          {% else %}
            <h4>Aucun signalement pour l'instant</h4>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% embed "@Citresp/googleMap-viewCity.html.twig" %}{% endembed %}
{% endblock %}
