{# src/CitrespBundle/Resources/views/Front/showReporting.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <style>

    #map {
      min-height: 26.25rem;

    }
  </style>
{% endblock %}

{% block header %}
  {% embed "@Citresp/cityMapHeader.html.twig" %}{% endembed %}
  {% embed "@Citresp/Front/ariane.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <div class="container text-center container-showReporting bg-light">
    <section>
      <!-- *************************** REPORTING *************************** -->
      <div class="showReporting-block">
        <div class="row">
          <div class="col-md-6">
            <div class="img-showReporting-city">
              {% if reporting.image %}
                <img class="img-responsive center-block" src="{{ asset(reporting.image.webPath) }}" alt="{{ reporting.image.alt }}">
              {% else %}
                <img class="" src="{{ asset('theme/img/report-citresp-show.jpg') }}" alt="Picto CITRESP">
              {% endif %}

            </div>
          </div>

          <div class="col-md-6 infos-reporting-city infos-showReporting">
            <h5>{{ reporting.address }}</h5>
            <p>
              <strong>{{ reporting.category.name }}</strong>
            </p>
            <p class="text-muted author-reporting-city">
              <strong>{{ reporting.user }}</strong>
              le
              {{ reporting.dateCreated|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}
            </p>

            <hr>

            <div class="block-reporting-status">
              <div class="reporting-status">
                <div class="reporting-status-label
                  {% if reporting.status.id == 1 %}
                    bg-danger
                  {% elseif reporting.status.id == 2 %}
                    bg-warning
                  {% elseif reporting.status.id == 3 %}
                    bg-info
                  {% elseif reporting.status.id == 4 %}
                    bg-success                                       
                  {% endif %}
                "></div>
                <p>{{reporting.status.name}}</p>
              </div>

              <a href="{{ path('show_reporting', {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}?action=reportingReport" class="btn btn-outline-secondary btn-sm btn-report-publication">Signaler la publication
                {% if reporting.reportedCount %}
                  <span class="badge badge-danger">{{ reporting.reportedCount }}</span>
                {% endif %}
              </a>
            </div>
            <hr>
          </div>
          <!-- </div> /infos-showReporting -->
        </div>
        <!-- /row 1 -->

        <div class="row">
          <div class="col">
            <p>{{ reporting.description }}</p>
          </div>
        </div>
        {# Si l'utilisateur est l'auteur du signalement #}
        <div class="reporting-btn-block">
          {% if app.user.id is same as(reporting.user.id) %}
            <a href="{{ path('edit_reporting', {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}" class="btn btn-outline-info btn-sm btn-report-publication">
              Modifier
            </a>
          {% endif %}
        </div>
        <!-- /row 2 -->
      </div>
      <!-- showReporting-block -->

      <!-- *************************** COMMENTS *************************** -->
      <div class="commentsReporting-block">
        <!-- FORMULAIRE -->
        <!-- <div class="form-comment-block"> <div class="input-group input-group-sm"> <input type="text" class="form-control" placeholder="Faites un commentaire" aria-label="Recipient's username" aria-describedby="basic-addon2"> <div
        class="input-group-append"> <button class="btn btn-info" type="submit">Validez</button> </div> </div> </div> -->

        {% embed "@Citresp/FormViews/createCommentForm.html.twig" %}{% endembed %}

        <!-- COMMENTS -->
        {% for comment in comments %}
          <div class="comment-block">
            <p class="text-muted">
              <strong>{{ comment.user }}</strong>
              le
              {{ comment.dateCreated|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}
            </p>
            <p>{{ comment.content }}</p>
            <hr>
            <a href="{{ path('show_reporting', {'slug': app.user.city.slug, 'reporting_id': reporting.id}) }}?action=commentReport&id={{ comment.id }}" class="btn btn-outline-secondary btn-sm btn-report-publication">Signaler ce commentaire
              {% if comment.reportedCount %}
                <span class="badge badge-danger">{{ comment.reportedCount }}</span>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>

    </section>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var map;
    function initMap() {
      var city = {
        lat: {{ city.gpsLat }},
        lng: {{ city.gpsLng }}
      };
      var coorMarker = {
        lat: {{ reporting.gpsLat }},
        lng: {{ reporting.gpsLng }}
      };
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 20,
        center: coorMarker
      });

      var marker = new google.maps.Marker({position: coorMarker, map: map});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&callback=initMap" async="async" defer="defer"></script>
{% endblock %}
