{# src/CitrespBundle/Resources/views/FormViews/BaseCitiesSearchForm.html.twig #}
{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{{ form_start(formSearch, {'attr': {'class': 'form-signin'}}) }}

  {{ form_errors(formSearch) }}

  {{ form_label(formSearch.searchedCity, null, {'label_attr': {'class': 'home-search'}}) }}
  {{ form_widget(formSearch.searchedCity, {'attr': {'class': 'form-control'}}) }}

  <br/>

  <button class="btn btn-lg btn-warning btn-block" type="submit">Validez</button>

  {{ form_rest(formSearch) }}
{{ form_end(formSearch) }}
