{# src/CitrespBundle/Resources/views/FormViews/citySelectForm.html.twig #}
{% form_theme formSelect 'bootstrap_4_layout.html.twig' %}

{{ form_start(formSelect, {'attr': {'class': 'form-signin'}}) }}

  {{ form_errors(formSelect) }}

  {{ form_label(formSelect.selectedCity) }}
  {{ form_widget(formSelect.selectedCity, {'attr': {'class': 'form-control'}}) }}

  <br/>

  <button class="btn btn-lg btn-info btn-block" type="submit">Validez</button>

  {{ form_rest(formSelect) }}
{{ form_end(formSelect) }}
