{# app/Resources/FOSUserBundle/views/Profile/show.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}
{% extends '@Citresp/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('theme/css/sign-in.css') }}">
{% endblock %}

{% block fos_user_content %}
<div class="container container-profile bg-light-admin">

  <div class="container profile-block">
    <h4 class="text-muted">Votre profile</h4>
    <hr>
    <p><strong>Nom :</strong> {{ user.username }}</p>
    <p><strong>e-mail :</strong> {{ user.email }}</p>
    <p>
      <strong>Notifications :</strong> 
      {% if user.notification == false %}
       Non
      {% else %}
        Oui
      {% endif %}
    </p>
    <hr>
    <div class="profile-btn-block">
      <p><a href="{{ path('fos_user_profile_edit') }}"
          class="btn btn-info btn-sm"
          >Modifier</a></p>
      <p><a href="{{ path('remove_user', {'slug': app.user.city.slug}) }}?userId={{app.user.id}}"
        class="btn btn-danger btn-sm"
        >Supprimer</a></p>
    </div>
  </div>
</div>

{% endblock %}
