{# src/CitrespBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="citresp site citoyen, pour vous permettre de signaler un problème sur la voirie, élagage, éclairage, etc.">
    <meta name="author" content="François Perreau">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    <title>
      {% block title %}citresp{% endblock %}
    </title>

    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Custom styles for this template -->
      <link href=" {{ asset('theme/css/style.css') }}" rel="stylesheet">
    {% endblock %}

  </head>

  <body style="background-image:url('{{ asset('theme/img/bg-default.jpg') }}')">
    <header class="container bg-light">

      {% embed "@Citresp/nav.html.twig" %}{% endembed %}


        {% block header %}
          <div class="container header-block" style="background-image:url('{{ asset('theme/img/romantic-bokeh-colors-over-the-city-1140x550.jpg') }}">
          <h1>
            Améliorons ensemble la qualité de vie de notre ville
          </h1>
          <p>
            <strong>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Duis aute irure. dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat norin proident.
            </strong>
          </p>
            </div>
        {% endblock %}

    </header>

    <main class="container bg-light">
      {% block body %}{% endblock %}
      {% block fos_user_content %}{% endblock %}
    </main>

    <footer class="container bg-dark text-min-size">
      <div class="container">
        <p><a href="{{ path('mentions_legales') }}">Mentions légales</a></p>
          <p>@ {{ "now"|date("Y") }} - François Perreau (Formation Openclassrooms | Chef de projet multimédia - Développement | projet 6)
      </div>

    </footer>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
